$accordion-max-width: 100%;
$accordion-transition-duration: 0.3s;
$accordion-transition-timing-function: linear;

.accordion {
   display: flex;
   flex-direction: column;
   gap: 3.6rem;
   max-width: $accordion-max-width;
}

.accordion-item {
   margin-bottom: 8px;
   overflow: hidden;
   transition: all $accordion-transition-duration
      $accordion-transition-timing-function;
}

.accordion-item-content {
   padding: 0rem 2.4rem;

   max-height: 0;
   overflow: hidden;
   transition: all $accordion-transition-duration (ease-in-out);
}

.accordion-item.active .accordion-item-content {
   padding: 2.8rem 2.4rem;
   background-color: #f6fbff;
   max-height: 100%; /* Выберите подходящую высоту контента */
   @media (max-width: $tablet) {
      padding: 1rem 0.5rem;
   }
}
